<div class="col">
    <table style="width: 100%;">
        <tbody>
            <tr>
                <td style="width: 10%;" class="headerCell">LINE</td>
                <td style="width: 16%;" class="headerCell">STATUS</td>
                <td style="width: 13%;" class="headerCell">PLAN</td>
                <td style="width: 13%;" class="headerCell">ACTUAL</td>
                <td style="width: 13%;" class="headerCell">DIFF</td>
                <td style="width: 13%;" class="headerCell">HOUR</td>
                <td style="width: 11%;" class="headerCell">DEFECT</td>
                <td style="width: 11%;" class="headerCell">LOSS</td>
            </tr>
        </tbody>
    </table>
</div>

